/* TODO(gtk4): round */

.profile {
/*    border-radius: 90%;*/
    border-width: 5px;
    border-style: solid;
    transition: all .4s ease;
}

.profile:hover {
    border-radius: 4px;
    transition: all .4s ease;
}

.profile.small {
    min-width: 36px;
    min-height: 36px;
}

.profile.big {
    min-width: 64px;
    min-height: 64px;
}

.profile.profile--none {
    border-color: #a3be8c;
    box-shadow: 0 0 2px #a3be8c;
}

.profile.profile--busy {
    border-color: #bf616a;
    box-shadow: 0 0 2px #bf616a;
}

.profile.profile--away {
    border-color: #ebcb8b;
    box-shadow: 0 0 2px #ebcb8b;
}

.profile.profile--offline {
    border-color: #d8dee9;
    box-shadow: 0 0 2px #d8dee9;
}

.pa-0 {
    padding: 0;
}