#LupusMainHeaderBar .profile,
#LupusMainHeaderBarPopup .profile {
    border-radius: 90%;
    border-width: 5px;
    border-style: solid;
}

#LupusMainHeaderBar .profile.profile--none,
#LupusMainHeaderBarPopup .profile.profile--none {
    border-color: #a3be8c;
    box-shadow: 0 0 2px #a3be8c;
}

#LupusMainHeaderBar .profile.profile--busy,
#LupusMainHeaderBarPopup .profile.profile--busy {
    border-color: #bf616a;
    box-shadow: 0 0 2px #bf616a;
}

#LupusMainHeaderBar .profile.profile--away,
#LupusMainHeaderBarPopup .profile.profile--away {
    border-color: #ebcb8b;
    box-shadow: 0 0 2px #ebcb8b;
}

#LupusMainHeaderBar .profile.profile--offline,
#LupusMainHeaderBarPopup .profile.profile--offline {
    border-color: #d8dee9;
    box-shadow: 0 0 2px #d8dee9;
}
